body {
  background-color: #ebebeb;
}

.line {
  width: 100%;
  max-width: 800px;
  height: 8px;
  margin: 0 0 10px 0;
  position: relative;
  display: inline-block;
  background-color: rgba(255,255,255,1);
}

.panel {
  margin: 50px auto 0 auto;
  padding: 50px;
  background-color: palevioletred; /* so we can see the whole container */
  width: 400px;
  height: 100vh;
  display: flex; /* this is just to align the text in the middle of the long container */
  align-items: center;
  box-sizing: border-box;
}

/* for the filler text at the start and end */
.filler {
  margin: 100px;
  font-size: 20px;
}